{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><i class="fab fa-dribbble icon-3x"></i></a>{% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="fas fa-envelope icon-3x"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="fab fa-facebook-square icon-3x"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><i class="fab fa-flickr icon-3x"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="fab fa-github icon-3x"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="fab fa-instagram icon-3x"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="fab fa-linkedin icon-3x"></i></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><i class="fab fa-pinterest icon-3x"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="fab fa-rss icon-3x"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="fab fa-twitter icon-3x"></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="fab fa-stackexchange icon-3x"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="fab fa-youtube-play icon-3x"></i></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><i class="fab fa-google-plus-sign icon-3x"></i></a>{% endif %}
{% if site.footer-links.keybase %}<a href="https://keybase.io/{{ site.footer-links.keybase }}"><i class="fab fa-keybase icon-3x"></i></a>{% endif %}
{% if site.footer-links.twitch %}<a href="https://twitch.tv/{{ site.footer-links.twitch }}"><i class="fab fa-twitch icon-3x"></i></a>{% endif %}
